<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <% include commonHeadElements.html %>
  <title>College Stalkers | About Us</title>
</head>

<body class="header-fixed header-fixed-space">
  <div class="wrapper homePage">

      <% include header.html %>
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>About Us</h2>
          <ol class="breadcrumb">
           <li><a href="/app/home">Home</a></li>            
           <li class="active">About Us</li>
         </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->
  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>About Us</h2>              
                  </div>
                  <!-- End Title -->
                  <p>We are all students trying to get some innovative ideas that are required in the forever changing world
                    here we came accross this idea of collwge comparison and you know that by <b>COLLEGE STALKERS</b>. We
                    like all other students want to do something out of the box so that it can benefit the users and as the no.
                    of individuals opting for professional colleges are increasing in India we decided to do something
                    different. We are still learning and we have used our learning knowledge in this web application and we
                    hope you will be satisfied after using this web application.</p>
              </div>
            </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">                            
                <!--<a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">-->
                  <img src="\static\scripts\assets\img\about-us.png"  alt="img">
               <!-- </a> -->               
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->


      <% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>
