<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <% include commonHeadElements.html %>
  <title>College Stalkers | College Comparison</title>
</head>

<body class="header-fixed header-fixed-space">
  <div class="wrapper homePage">

      <% include header.html %>
<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
           <div class="row">
             <div class="col-md-6">
               <!-- start course content container -->
               <div class="mu-course-container mu-course-details">
                 <div class="row">
                   <div class="col-md-12">
                     <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img text-center">
                            <img src="\static\uploads\<%=listcollege.img%>" height="250" alt="img">
                       </figure>
                       <div class="mu-latest-course-single-content">
                        <div class="row"style="height: 100px;"><h2><a href="/app/cdetail/<%=listcollege.id%>"><%=listcollege.name%></a></h2></div>
                         <h4><span><%=listcollege.city%>,<%=listcollege.state%></span></h4>
                         <ul>
                           <li> <span>Email</span> <span><%=listcollege.email%></span></li>
                           <li> <span>Place</span> <span><%=listcollege.city%>,<%=listcollege.state%></span></li>
                           
                           <li> <span>Contact</span> <span><%=listcollege.contact%></span></li>
                           <li> <span>Pin Code</span> <span><%=listcollege.pincode%></span></li>
                           <li><span>Spec Score</span><span><%=score11.spec_score%></span></span></li>
                         </ul>
                         <h4>Course Outline</h4>
                         <div class="table-responsive">
                           <table class="table">
                           <thead>
                             <tr>
                               <th> Specifications</th>
                               <th> Value</th>
                             </tr>
                           </thead>
                           <tbody>
                            <tr>
                              <td> -> Fees : </td>
                              <td><%= listcollege.fees %></td>
                            </tr>
                            <tr>
                              <td> -> Bus : </td>
                              <td><%= listcollege.bus %> </td>
                            </tr>
                            <tr>
                              <td> -> Hostel Rating : </td>
                              <td><%= listcollege.hostel %> </td>
                            </tr>
                            <tr>
                              <td> -> Students Enrolled : </td>
                              <td><%= listcollege.students  %></td>
                            </tr>
                            <tr>
                              <td> -> Faculty And Staff : </td>
                              <td><%= listcollege.faculty  %></td>
                            </tr>
                            <tr>
                              <td> -> Proctorial Board :</td>
                              <td> <%= listcollege.pb  %> </td>
                            </tr>
                            <tr>
                              <td> -> NAAC Grade  :</td>
                              <td> <%= listcollege.naac  %></td>
                            </tr>
                            <tr>
                              <td> -> Location  :</td>
                              <td> <%= listcollege.surrounding %></td>
                            </tr>

                           </tbody>
                         </table>
                         </div>
                       </div>
                     </div> 
                   </div>                                   
                 </div>
               </div>
               <!-- end course content container -->
         
            </div>

            <div class="col-md-6">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img text-center">
                              <img src="\static\uploads\<%=listcollege2.img%>" height="250" alt="img">
                            </figure>
                        <div class="mu-latest-course-single-content">
                          <div class="row" style="height: 100px;"><h2><a href="/app/cdetail/<%=listcollege2.id%>"><%=listcollege2.name%></a></h2></div>
                          <h4><span><%=listcollege2.city%>,<%=listcollege2.state%></span></h4>
                          <ul>
                            <li> <span>Email</span> <span><%=listcollege2.email%></span></li>
                            <li> <span>Place</span> <span><%=listcollege2.city%>,<%=listcollege2.state%></span></li>
                       
                            <li> <span>Contact</span> <span><%=listcollege2.contact%></span></li>
                            <li> <span>Pin Code</span> <span><%=listcollege2.pincode%></span></li>
                            <li><span>Spec Score</span><span><%=score22.spec_score%></span></span></li>
                          </ul>
                          <h4>Course Outline</h4>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th> Specifications</th>
                                  <th> Value</th>
                                </tr>
                              </thead>
                              <tbody>
                               <tr>
                                 <td> -> Fees : </td>
                                 <td><%= listcollege2.fees %></td>
                               </tr>
                               <tr>
                                 <td> -> Bus : </td>
                                 <td><%= listcollege2.bus %> </td>
                               </tr>
                               <tr>
                                 <td> -> Hostel Rating : </td>
                                 <td><%= listcollege2.hostel %> </td>
                               </tr>
                               <tr>
                                 <td> -> Students Enrolled : </td>
                                 <td><%= listcollege2.students  %></td>
                               </tr>
                               <tr>
                                 <td> -> Faculty And Staff : </td>
                                 <td><%= listcollege2.faculty  %></td>
                               </tr>
                               <tr>
                                 <td> -> Proctorial Board :</td>
                                 <td> <%= listcollege2.pb  %> </td>
                               </tr>
                               <tr>
                                 <td> -> NAAC Grade  :</td>
                                 <td> <%= listcollege2.naac  %></td>
                               </tr>
                               <tr>
                                 <td> -> Location  :</td>
                                 <td> <%= listcollege2.surrounding %></td>
                               </tr>
   
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
          
             </div>
           


          </div>
        </div>
      </div>
</div>
</div>
</section>


      <% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>

