<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <% include commonHeadElements.html %>
  <title>College Stalkers | College Detail</title>
</head>

<body class="header-fixed header-fixed-space">
  <div class="wrapper homePage">

      <% include header.html %>
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>College Detail</h2>
          <ol class="breadcrumb">
           <li><a href="/app/home">Home</a></li>            
           <li class="active">College Detail</li>
         </ol>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
           <div class="row">
             <div class="col-md-12">
               <!-- start course content container -->
               <div class="mu-course-container mu-course-details">
                 <div class="row">
                   <div class="col-md-12">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img text-center">
                         <img src="\static\uploads\<%=listcollege.img%>" alt="img">
                       </figure>
                       <div class="mu-latest-course-single-content">
                         <h2><a href="/app/cdetail/<%=listcollege.id%>"><%=listcollege.name%></a></h2>
                         <h4><span><%=listcollege.city%>,<%=listcollege.state%></span></h4>
                         <ul>
                           <li> <span>Email</span> <span><%=listcollege.email%></span></li>
                           <li> <span>Place</span> <span><%=listcollege.city%>,<%=listcollege.state%></span></li>
                           <li> <span>Total Students</span> <span>800+</span></li>
                           <li> <span>Contact</span> <span><%=listcollege.contact%></span></li>
                           <li> <span>Pin Code</span> <span><%=listcollege.pincode%></span></li>
                         </ul>
                       </div>
                     </div> 
                   </div>                                   
                 </div>
               </div>
               <!-- end course content container -->
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



      <% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>
