<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <% include commonHeadElements.html %>
  <title>College Stalkers | Home</title>
</head>

<body class="header-fixed header-fixed-space">
  <div class="wrapper homePage">

      <% include header.html %>
      <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="\static\scripts\assets\img\slider/1.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Welcome To College Stalkers</h4>
        <span></span>
        <h2>Find Your Desired College</h2>
        <p>Our web site helps you to find the best favoured college for you.</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="\static\scripts\assets\img\slider/2.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Unique Comparison Style</h4>
        <span></span>
        <h2>Comparsion According To Your Needs</h2>
        <p> Choose comparison factors according to yourself.</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="\static\scripts\assets\img\slider/3.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Exclusivley Educational</h4>
        <span></span>
        <h2>Education For Everyone</h2>
        <p>Our aim is to let people find the college with respect to their wish.</p>
        <a href="#" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-search"></span>
              <h3>Search Online</h3>
              <p>Choose the filters according to yourself and find the college online. The Website will be effecient to match with your choices.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-users"></span>
              <h3>User Ratings</h3>
              <p>The ratings given by users of the particular colleges are also considered as a small factor as to provide best results.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-table"></span>
              <h3>Scores</h3>
              <p>Scores will be calculated as per a special algorithm designed particularly for the website which works on best favoured approach.</p>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->

      
  </div>

    <section id="mu-contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-contact-area">
               <!-- start title -->
               <div class="mu-title">
              <!-- Page breadcrumb -->
              <section id="mu-page-breadcrumb">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mu-page-breadcrumb-area">
                            <h2>Find Colleges</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- End breadcrumb -->
                 </div>
                <div class="mu-contact-content">           
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                      <div class="col-md-6">
                        <div class="mu-contact-left">
                          <form class="contactform" method="get" action="/app/showcolleges">                  
                            <p class="comment-form-author">
                              <label for="loc">Location <span class="required">*</span></label>
                              <input type="text" required="required" size="30" value="" name="loc">
                            </p>
                            <p class="comment-form-email">
                              <label for="colltype">College Type</label>
                              <p><input type="radio" name="colltype" value="3" id="colltype_0">   Private University</p> 
                                  <p><input type="radio" name="colltype" value="1" id="colltype_1">   Government University</p>
                                  <p><input type="radio" name="colltype" value="4" id="colltype_1">   Private College</p>           
                                  <p><input type="radio" name="colltype" value="2" id="colltype_1">   Government College</p>
                            <p class="form-submit">
                                <div class="text-right"><input type="submit" value="Send Message" class="mu-post-btn" name="submit"></div>
                              </div>
                            </p>        
                          </form>
                        </div>
                      </div>
                      <div class="col-md-3">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
<!-- Start features section -->
<section id="mu-features">
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-features-area">
          <!-- Start Title -->
          <div class="mu-title">
            <!-- Page breadcrumb -->
            <section id="mu-page-breadcrumb">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-page-breadcrumb-area">
                          <h2>Our Features</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- End breadcrumb -->
            
            
            </div>
          <!-- End Title -->
          <!-- Start features content -->
          <div class="mu-features-content">
            <div class="row">
              <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-book"></span>
                  <h4>Professional Courses</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                  
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-users"></span>
                  <h4>Best Colleges</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                  
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-laptop"></span>
                  <h4>College Comparison</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- End features content -->
        </div>
      </div>
    </div>
  </div>
</section>
      <% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>
